header{
    height: 8.7rem;
    display: flex;
    .container{
        @include flex(row, center, space-between);
        .logo{
            @include flex(row, center, none);
            .logo{
                margin-right: 5rem;
            }
        }
        nav{
            width: 100%;
            max-width: 28.4rem;
            .ul-header{
                @include flex(row, center, space-between);
                li{
                    display: flex;
                    a{
                        color: $white;
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: 3rem;
                        letter-spacing: 0.03em;
                        transition: color .5s ease-out;
                        &:hover{
                            color: $clr-red;
                        }
                    }
                }
            }
        }
        .burger{
            display: none;
        }

        @include responsive(731px){
            .logo{
                .wave{
                    display: none;
                }
            }
            nav{
                display: none;
            }
            .burger{
                display: inline-block;
                cursor: pointer;
                .bars{
                    .bar1, .bar2, .bar3{
                        height: 4px;
                        background-color: white;
                        margin: 6px 0 6px auto;
                        transition: all .3s ease;
                    }
                    .bar1{
                        width: 30px;
                    }
                    .bar2{
                        width: 23px;
                    }
                    .bar3{
                        width: 15px;
                    }
                    &.active{
                        .bar1{
                            transform: translateY(10px) rotateZ(45deg);
                        }
                        .bar2{
                            opacity: 0;
                        }
                        .bar3{
                            width: 30px;
                            transform: translateY(-10px) rotateZ(-45deg);
                        }
                    }
                }
                .menu-mobile{
                    background-color: $clr-black-dark;
                    padding: 3rem 0 3.2rem 5rem;
                    position: absolute;
                    width: 100%;
                    z-index: 100;
                    right: 0;
                    top: 8.7rem;

                    opacity: 0;
                    pointer-events: none;
                    transform: translateY(20px);
                    transition: all .3s linear;
                    ul{
                        li{
                            &:not(:last-child){
                                margin-bottom: 3.2rem;
                            }
                            a{
                                display: flex;
                                span{
                                    @include typography($white, 500, 3.2rem, -0.03em, 2.3rem);
                                    margin-left: 1.6rem;
                                }
                            }
                        }
                    }
                    .wave-vertical{
                        margin: 4rem 0;
                    }
                    .contato-menu{
                        .here-menu{
                            display: flex;
                            &:not(:last-child){
                                margin-bottom: 8px;
                            }
                            a{
                                @include typography($white, 600, 3rem, 0.03em,1.6rem);
                                margin-left: 8px;
                                transition: all .3s ease;
                                font-style: normal;
                                &:hover{
                                    color: $clr-red;
                                }
                            }
                        }
                    }
                    &.active{
                        opacity: 1;
                        pointer-events: all;
                        transform: translateY(0);
                    }
                }
            }
        }
        @include responsive(441px){
            .logo{
                a{
                    img{
                        width: 100%;
                        max-width: 15rem;
                    }
                }
            }
            .burger{
                .menu-mobile{
                    height: 100%;
                    padding-left: 4.5rem;
                }
            }
        }
    }
}