// HERO
#hero{
    margin-top: 9.8rem;
    background: url(../assets/bg-gradient.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    .container{
        padding: 0 1.5rem;
        position: relative;
        @include flex(column, center, none);
        .hero-txt{
            @include flex(column, center, none);
            width: 100%;
            max-width: 74.3rem;
            text-align: center;
            h2{
                position: relative;
                span{
                    color: $clr-red;
                    font-size: 4rem;
                    font-weight: 800;
                    line-height: 5.4rem;
                    letter-spacing: -0.03em;
                }
                img{
                    position: absolute;
                    bottom: -1.8rem;
                    right: 14.7rem;
                }
            }
            p{
                width: 100%;
                max-width: 55.4rem;
                margin-top: 3rem;
            }
        }
        .hero-img{
            display: flex;
            justify-content: center;
            margin-top: 10.5rem;
            width: 100%;
            max-width: 93.8rem;
            .seta{
                position: absolute;
                left: 4.5rem;
                bottom: 28.2rem;
            }
        }
    }
    @include responsive(950px){
        margin-top: 10.5rem;
        .container{
            .hero-txt{
                max-width: 60rem;
                h2{
                    img{
                        right: 0;
                    }
                }
            }
            .hero-img{
                max-width: 57.2rem;
                .seta{
                    display: none;
                }
            }
        }
    }
    @include responsive(641px){
        .container{
            .hero-txt{
                max-width: 60rem;
                h2{
                    img{
                        right: 2.1rem;
                    }
                    span{
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }
    @include responsive(570px){
        .container{
            .hero-txt{
                max-width: 49.1rem;
                h2{
                    img{
                        right: 12.2rem;
                    }
                }
            }
        }
    }
    @include responsive(441px){
        margin-top: 7.7rem;
        .container{
            .hero-txt{
                h2{
                    span{
                        font-size: 2.3rem;
                    }
                    img{
                        max-width: 13.5rem;
                        right: 0rem;
                        bottom: -1.2rem;
                    }
                }
                p{
                    margin-top: 4rem;
                }
            }
            .hero-img{
                margin-top: 4rem;
            }
        }
    }
}

// CONTENT
.content{
    background: url(../assets/bg-gradient-left.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    @include responsive(775px){
        background-position: center 100% left;
    }
}
// SOBRE
#sobre{
    margin-top: 17.3rem;
    .container{
        @include flex(row, center, space-between);
        .sobre-left{
            @include flex(row, center, space-between);
            width: 100%;
            max-width: 51rem;
            margin-right: 4rem;
            height: 100%;
            .aside{
                height: 100%;
            }
            .sobre-left-txt{
                margin-left: 4.3rem;
                h3{
                    margin: 2.4rem 0 3.2rem 0;
                    width: 32.9rem;
                }
                img{
                    width: 2.2rem; 
                    margin-bottom: -6px;
                }
                .pad{
                    margin-bottom: 3rem;
                }
                s{
                    text-decoration: line-through;
                }
                button{
                    margin-top: 3.2rem;
                }
            }
        }
        .sobre-right{
            display: flex;
            .habilidades{
                margin-right: 8.9rem;
                ul{
                    margin-top: 1.5rem;
                    li{
                        display: flex;
                        &:not(:last-child){
                            margin-bottom: 1rem;
                        }
                        span{
                            @include typography($clr-gray, 600, 3rem, 0.03em, 1.6rem);
                            margin-left: 1.6rem;
                        }
                    }
                }
            }
            .cursos{
                ul{
                    margin-top: 1.5rem;
                    li{
                        &:not(:last-child){
                            margin-bottom: 1rem;
                        }
                        a{
                            @include typography($clr-gray, 600, 3rem, 0.03em, 1.6rem);
                            margin-left: 1.6rem;
                            transition: color .3s ease;
                            &:hover{
                                color: $clr-red;
                            }
                        }
                    }
                }
            }
        }
    }
    @include responsive(990px){
        margin-top: 18.4rem;
        .container{
            flex-direction: column;
            align-items: flex-start;
            .sobre-left{
                max-width: 90%;
                // height: 100vh;
                .aside{
                    // height: 100%;
                }
                .sobre-left-txt{
                    margin-left: 3.9rem;
                }
            }
            .sobre-right{
                margin-top: 7.7rem;
                padding-left: 3.9rem;
                width: 90%;
                .habilidades{
                    margin-right: 9.2rem;
                }
            }
        }
    }
    @include responsive(650px){
        .container{
            .sobre-left{
                max-width: 100%
            }
            .sobre-right{
                width: 100%;
            }
        }
    }
    @include responsive(441px){
        margin-top: 7.6rem;
        .container{
            .sobre-left{
                .sobre-left-txt{
                    margin-left: 3rem;
                    h3{
                        margin: 0.8rem 0 2.4rem 0;
                        width: 28rem;
                    }
                    button{
                        margin-top: 2.4rem;
                    }
                }
                .aside{
                    height: 86.5rem;;
                }
            }
            .sobre-right{
                margin-top: 5.4rem;
                flex-direction: column;
                .cursos{
                    margin-top: 3.2rem;
                }
            }
        }
    }
}

// PROJETOS
#projetos{
    margin-top: 30rem;
    .container{
        .projetos-top{
            p{
                margin: 3.2rem 0 4.6rem 0;
            }
        }
        .projetos-bottom{
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            .box{
                width: 37rem;
                height: 37rem;
                position: relative;
                .details{
                    background-color: $clr-purple;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform: translateX(-50px);
                    opacity: 0;
                    transition: all .5s ease;
                    .box-content{
                        max-width: 25.9rem;
                        margin: 9.9rem auto;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        opacity: 0;
                        transition: all .5s ease .2s;
                        h3{
                            @include typography($white, 700, 3.6rem, -0.03em, 3rem);
                        }
                        p{
                           font-size: 1.4rem;
                           line-height: 2.4rem;
                           margin: 0.8rem 0 3.5rem;
                        }
                        a{
                            span{
                                @include typography($white, 700, 1.8rem, 0.02em, 1.5rem);
                                transition: color .3s ease;
                                &:hover{
                                    color: $clr-red;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    .details{
                        transform: translateX(0px);
                        opacity: 1;
                        .box-content{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @include responsive(1233px){
        .container{
            .projetos-bottom{
                // justify-content: center;
                .box{
                    width: 32rem;
                    height: 32rem;
                    .details{
                        .box-content{
                            margin: 7.6rem auto;
                        }
                    }
                }
            }
        }
    }
    @include responsive(990px){
        margin-top: 25rem;
    }
    @include responsive(441px){
        .container{
            .projetos-top{
                p{
                    margin: 1.2rem 0 2.6rem 0;
                    width: 27.4rem;
                }
            }
            .projetos-bottom{
                gap: 2.4rem;
            }
        }
    }
}

// CONTATO/FOOTER
footer{
    padding: 20rem 0 8.1rem 0;
    .container{
        .seta-contato{
            padding-bottom: 15.7rem;
        }
        .contato-txt{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .contato-info{
                p{
                    margin: 1.8rem 0 1.5rem 0;
                }
                .here{
                    display: flex;
                    align-items: center;
                    margin-bottom: 2.1rem;
                    span{
                        @include typography($white, 600, 3rem, 0.03em,1.6rem);
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
    @include responsive(441px){
        padding-top: 13.2rem;
        .container{
            .seta-contato{
                padding-bottom: 8.6rem;
            }
            .contato-txt{
                .contato-info{
                    p{
                        margin-top: 6px; 
                    }
                    .here{
                        &:not(:last-child){
                            margin-bottom: 8px;
                        }
                    }
                    .social{
                        margin-top: 3.6rem;
                        .social-media{
                            width: 4.5rem;
                        }
                    }
                }
                .wave-footer{
                    margin-bottom: -3.8rem;
                }
            }
        }
    }
}