@mixin responsive($width) {
    @media (max-width: $width){
        @content
    }
};

@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
};

@mixin typography($color, $weight, $height, $spacing){
    color: $color;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}