* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    // background: radial-gradient(circle at right, $clr-purple -30%, $clr-black-dark 25%),
    //     radial-gradient(circle at left, $clr-purple -30%, $clr-black-dark 25%);
    background-color: $clr-black-dark;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}